{% macro main(params) %}
    <section class="wrapper style1 align-center">
        <div class="inner">
            <div class="items {{ params.style }} {{ params.size }} onscroll-fade-in">
                {% for slide in params.slides %}
                    {{ _self.item(slide) }}
                {% endfor %}  
            </div>
        </div>
    </section>
{% endmacro %}

{% macro item(slide) %}
    <section>
        <span class="image fit"><img src="{{ slide.slidesImage.first().url }}"></span>
        <h3>{{ slide.slidesTitle  }}</h3>
        {{ slide.slidesDescription  }}
    </section>
{% endmacro %}