{% macro main(params) %}
    <div class="gallery {{ params.style }} {{ params.size }} lightbox onscroll-fade-in">
        {% for slideContent in params.slides %}
            {% if slideContent.slideImage.first() %}
                {{ _self.slide(slideContent) }}
            {% endif %}
        {% endfor %}
        
    </div>
{% endmacro %}

{% macro slide(slideContent) %}
    <article>
        <a href="images/gallery/fulls/12.jpg" class="image">
            <img src="{{ slideContent.slideImage.first() }}" />
        </a>
        <div class="caption">
            <h3>{{ slideContent.slideTitle }}</h3>
            {{ slideContent.slideDescription }}
            <ul class="actions">
                <li><span class="button small">Details</span></li>
            </ul>
        </div>
    </article>
{% endmacro %}