{% extends "_layout" %}
{% import '_macros/_import.twig' as sections %}

{% block content %}
    {{ sections.story({
        entry: entry,
        index: 'style1'
    }) }}

    {% for bodyBlock in entry.bodyBlocks %}
        {{ attribute(sections, bodyBlock.type().handle, [bodyBlock]) }}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% set params = {section: 'post', order: 'postDate', limit: null} %}
    {% set entry_prev = entry.getPrev(params) %}
    {% set entry_next = entry.getNext(params) %}
    <ul class="actions fit">
        {% if entry_prev %}
            <li>
                <a href="{{ entry_prev.url }}" class="button fit">Previous Post</a>
            </li>
        {% endif %}
        
        <li>
            <a href="{{ url('/post') }}" class="button fit">Sell All</a>
        </li>

        {% if entry_next %}
            <li>
                <a href="{{ entry_next.url }}" class="button fit">Next Post</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}